<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<meta name="description" content="Healthy Minds Therapy">
    <meta name="keywords" content="Therapy,Therapist,Health,LPC,Licensed,Medicine">
	<meta name="author" content="Alycia Burant">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Healthy Mind's Therapy</title>
    <base href="~/" />

    <link href="https://fonts.googleapis.com/css?family=Exo+2|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.4/flatpickr.css" asp-append-version="true" />
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    @RenderBody()
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/main.js" asp-append-version="true"></script>
</body>
</html>
